# Fields are space separated:
# dataset interval_minutes retention prefix recursive min_bytes

zroot/jails 30 100 diffsnap no 1000000
tank/media 5 100 diffsnap no 1000000
rpool/USERDATA 1440 14 daily yes 1
